doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  style.
    body {font-family: "Lucida Console", Monaco, monospaces;
    background-image: url('img/ilovemb.jpg');
    }
    .sidebar {
    height: 100%;
    width: 180px;
    position: absolute;;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color:aliceblue;
    overflow-x: hidden;
    padding-top: 16px;
    }
    .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color:gray;
    display: block;
    }
    .sidebar a:hover {
    color:dodgerblue;
    }
    .main {
    margin-left: 180px;
    padding: 0px 10px;
    }
    @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
    }
    .btn {/*only button*/
    background-color: dodgerblue;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
    }
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    .column {
    background-color: aliceblue;
    padding: 30px;
    margin-top: 20px;
    }
    .review {
    background-color:lightgrey;
    width: 98%;
    padding: 20px;
    }
img(src='img/ilovem.jpg' alt='ilovem icion' width='172' height='80')
.sidebar
  a(href='http://localhost:3000')
    i.fa.fa-fw.fa-home
    | Home
    a(href='http://localhost:3000/profile')
      | Profile
.main
  h1 Account overview
  button.btn(type='submit') Follow
  br
  br
  p(style='color:gray') Username:#{name}
  hr
  br
  br
  .row
    .column
      p(style='color:dodgerblue') Movie Reviews
      .review
        | Movie Title:
        hr
        p Review:
  .row
    .column
      p(style='color:dodgerblue') Following
      .review
        a(href='#People') People:
